<% layout('layout') %>
<%
function getFormattedDate(date) {
  var year = date.getFullYear();
  var month = (1 + date.getMonth()).toString();
  month = month.length > 1 ? month : '0' + month;
  var day = date.getDate().toString();
  day = day.length > 1 ? day : '0' + day;
  var hour = date.getHours();
  apm = hour < 12 ? 'AM' : 'PM';
  hour = hour % 12 || 12;
  var minute = date.getMinutes().toString();
  minute = minute.length > 1 ? minute : '0' + minute;
  return year + '/' + month + '/' + day + ' ' + hour.toString() + ':' + minute + ' ' + apm;
}
%>
<%
const isAdmin = (!!user)
%>

<body>
  <nav class="navbar navbar-expand-md navbar-dark" style="background-color: rgba(255, 99, 71, 0.469)">
    <div class="navbar-nav">
      <a href="<%-baseUrl%>/list" class="nav-link">Models</a>
    </div>
  </nav>
  <div class="row">
    <!-- <div class="alert alert-success" *ngIf='message'>{{message}}</div> -->
    <div class="container">
      <h3 class="text-center"><%- title %></h3>
      <hr>
      <div class="container text-left">
        <a href="<%-baseUrl%>/upload" class="btn btn-success">Upload New File</a>
      </div>
      <div class="row my-3">
        <div class="col-8">
          <label class="btn">
            <input type="file" name="upfile" id="upfile" multiple />
          </label>
        </div>
        <div class="col-4">
          <button class="btn btn-success" id="btnUp" disabled="true">
            上傳
          </button>
        </div>
      </div>
      <br>
      <div class="table-responsive-xl">
        <table class="table table-bordered table-hover">
          <thead class="table-dark">
            <tr>
              <% if (isAdmin) { %>
              <th scope="col">ID</th>
              <% } %>
              <th scope="col">File Name</th>
              <% if (isAdmin) { %>
              <th scope="col">Length</th>
              <th scope="col">Chunk Size</th>
              <% } %>
              <th scope="col">Upload Date</th>
              <% if (isAdmin) { %>
              <th scope="col">Content Type</th>
              <th scope="col">Action</th>
              <% } %>
            </tr>
          </thead>
          <tbody>
            <!--   for (Todo todo: todos) {  -->
            <% listModels.forEach(element => { %>
            <tr>
              <% if (isAdmin) { %>
              <th scope="row">
                <%= element.fileId %>
              </th>
              <% } %>
              <td>
                <a href="<%-baseUrl%>/files/<%= element.name %>"><%= element.name %></a>
              </td>
              <% if (isAdmin) { %>
              <td>
                <%= element.length %>
              </td>
              <td>
                <%= element.chunkSize %>
              </td>
              <% } %>
              <td>
                <%= getFormattedDate(element.uploadDate) %>
              </td>
              <% if (isAdmin) { %>
              <td>
                <%= element.contentType %>
              </td>
              <td><a href="<%-baseUrl%>/files/<%= element.name %>">Download</a>
                &nbsp;&nbsp;&nbsp;&nbsp; <a href="<%-baseUrl%>/delete/<%= element.name %>">Delete</a></td>
              <% } %>
            </tr>
            <% }) %>
            <!-- } -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <script>
    $(function() {
      var selectedFiles = undefined;
      const progressInfos = {
        val: []
      };
      var message = [];
      var fileInfos = [];
      $('#upfile').change((event) => {
        //console.log($('#upfile'));
        console.log(event.target.files)
        selectedFiles = event.target.files;
        progressInfos.val = [];
        $('#btnUp').attr('disabled', !(selectedFiles.length > 0));
      });
      $('#btnUp').click((event) => {
        const files = Array.from(selectedFiles);
        const uploadPromises = files.map((file, i) => upload(i, file));
        Promise.all(uploadPromises)
          .then(() => {
            $(location).prop("href", location.href);
          });
        message = []
      });
      const upload = (idx, file) => {
        return _upload(file, (event) => {
          console.log('嘗試上傳中');
        }).then(() => {
          message.push("文件上傳成功: " + file.name);
        }).catch(() => {
          message.push("不能上傳文件: " + file.name);
        })
      }
      const _upload = (file, onUploadProgress) => {
        let formData = new FormData();
        formData.append("file", file);
        // return $.post("/upload", formData, {
        //     headers: {
        //         "Content-Type": "multipart/form-data",
        //     },
        //     onUploadProgress,
        // });
        return $.ajax({
          "type": "post",
          "url": "<%-baseUrl%>/upload",
          "data": formData,
          "processData": false, // tell jQuery not to process the data
          "contentType": false, // tell jQuery not to set contentType
          "success": function(result, status, xhr) {
            console.log(result);
            //alert(result);
          },
          "error": (xhr, status, error) => {
            console.log(error);
            //alert(error);
          }
        })
      };
    });
  </script>
  <!-- <script src="/script/UploadFiles.js"></script> -->
</body>