<% layout('layout') %>
<%
const isAdmin = (auth == 'admin') || (auth == 'root')
%>

<body>
  <!-- <nav class="navbar navbar-expand-md navbar-dark" style="background-color: rgba(255, 99, 71, 0.469)">
    <div class="navbar-nav">
      <a href="<%-baseUrl%>/list" class="nav-link">Users</a>
    </div>
  </nav> -->
  <div class="card">
    <div class="fakeimg">
      <p class="fw-bold run_run_text" style="font-size:5vw;">Run Run <span class="badge bg-secondary">DonkeyCar</span></p>
    </div>
    <br>
    <!-- <div class="alert alert-success" *ngIf='mess'>{{mess}}</div> -->
    <div class="container mycard0">
      <div class="tbox">
        <h3 class="text-center"><%- title %></h3>
      </div>
      <hr>
      <% if (isAdmin) { %>
      <div class="container text-left">
        <a href="<%-baseUrl%>/new" class="btn btn-success">New User</a>
      </div>
      <% } %>
      <!-- <div class="row my-3">
        <div class="col-8">
          <label class="btn btn-success">
            <input type="file" name="upfile" id="upfile" multiple />
          </label>
        </div>
        <div class="col-4">
          <button class="btn btn-success" id="btnUp" disabled="true">
            上傳
          </button>
        </div>
      </div> -->
      <br>
      <div class="table-responsive-xl">
        <table class="table table-bordered table-hover">
          <thead class="table-dark">
            <tr>
              <% if (isAdmin) { %>
              <th scope="col">ID</th>
              <% } %>
              <th scope="col">User Name</th>
              <th scope="col">User Email</th>
              <% if (isAdmin) { %>
              <th scope="col">Role</th>
              <th scope="col">Update Time</th>
              <th scope="col">Action</th>
              <% } %>
            </tr>
          </thead>
          <tbody>
            <!--   for (Todo todo: todos) {  -->
            <% lists.forEach(element => { %>
            <tr>
              <% if (isAdmin) { %>
              <th scope="row">
                <%= element.userid %>
              </th>
              <% } %>
              <td>
                <%= element.username %>
              </td>
              <td>
                <%= element.useremail %>
              </td>
              <% if (isAdmin) { %>
              <td>
                <%= element.role %>
              </td>
              <td>
                <%= element.updateTime %>
              </td>
              <td><a href="<%-baseUrl%>/edit?id=<%= element.userid %>">Edit</a>
                &nbsp;&nbsp;&nbsp;&nbsp; <a href="javascript:void(0)" onclick="checkDelete('<%= element.userid %>')">Delete</a></td>
              <% } %>
            </tr>
            <% }) %>
            <!-- } -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <script>
    function checkDelete(val) {
      console.log(val)
      const yes = confirm(`Are you sure to delete user with id ${val}`)
      console.log(yes);
      if (yes) {
        location.href = "<%-baseUrl%>/delete?id=" + val
      }
    }
  </script>
  <script>
    var error = '' + '<%- error %>';
    var warning = '' + '<%- warning %>';
    var message = '' + '<%- message %>';
    var success = '' + '<%- success %>';
  </script>
</body>