<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./styles/main.css" rel="stylesheet" type="text/css" />
    <script src="./script/jquery-3.1.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script>
        console.log("html 000");
        var socket = io();
    </script>
    <title>
        <%= title %>
    </title>
    <style type="text/css">
        .btn {
            margin: 2px;
            border: solid 1px #20538D;
            border-radius: 4px;
            width: 130px;
            padding: 10px 15px;
            background: #4479BA;
            color: #FFF;
            font-family: "微軟正黑體", "黑體-繁", sans-serif;
            text-decoration: none;
        }

        .btn:hover {
            background: #356094;
        }
    </style>
</head>

<body>
    <div style="padding:1px 16px;height:1000px;">
        <div class="card">
            <h2><%= title %></h2>
            <h5>Title description, Sep 2, 2017</h5>
            <div class="w3-container" style="width:30%">
                <div class="w3-panel w3-pale-red w3-leftbar w3-border-red">
                    <p>計時:06:00
                    </p>
                </div>
                <div class="w3-panel w3-pale-blue w3-leftbar w3-border-blue">
                    <p>圈數:100
                    </p>
                </div>
                <div class="w3-panel w3-pale-green w3-leftbar w3-border-green">
                    <p>資料量:8887
                    </p>
                </div>
            </div>
            <div class="fakeimg" style="height:500px;width:500px">
                <img src="https://www.donkeycar.com/uploads/7/8/1/7/7817903/donkey-car-graphic_orig.jpg" alt="圖片描述" style="max-width: 100%; max-height: 100%;">
            </div>
            <br>
            <% if (fileChins.length>0) { index = 0 %>
                <table>
                    <% fileChins.forEach(chinRow => { %>
                        <tr>
                            <% chinRow.forEach(element => { %>
                                <td><input type="button" id=<%= "mod" +index %> class="btn" value=<%= element %>></td>
                                <script>
                                    $("<%- '#mod' + index %>").click(function() {
                                        socket.emit('prc', "<%= index %>");
                                        console.log("<%- 'html 執行 ' + element %>");
                                    });
                                </script>
                            <% index++}) %>
                        </tr>                 
                    <% }) %>
                </table>
            <% } %>
            <table>
                <thead>
                    <tr>
                        <td>
                            <p><input type="button" id="btn0" class="btn" value="關閉所有程式"></p>
                        </td>
                        <td>
                            <p><input type="button" id="btn00" class="btn" value="關閉網站"></p>
                        </td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</body>

<script>
    $('#btn0').on('click', function() {
        socket.emit("stop");
        // $('#btn2').hide();
        console.log("html stop");
    });
    $('#btn00').on('click', function() {
        socket.emit("exit");
        // $('#btn2').hide();
        console.log("html exit");
    });
</script>

</html>