<% layout('layout') %>

<body>
  <script src="/socket.io/socket.io.js"></script>
  <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
  <script>
    console.log("html 000");
    var socket = io();
    var timer = 0;
    var timerIntervalID;
    var iframeIntervalID;
  </script>
  <title>
    <%= title %>
  </title>
  <style type="text/css">
    .btn {
      margin: 2px;
      /* border: solid 1px #20538D; */
      border-radius: 4px;
      width: 130px;
      padding: 10px 15px;
      /* background: #4479BA; */
      /* color: #FFF; */
      font-family: "微軟正黑體", "黑體-繁", sans-serif;
      text-decoration: none;
    }

    .btn:hover {
      background: #356094;
    }
  </style>
  <% const waa = 35 %>
  <div style="padding:1px 16px;height:1000px;display:flex">
    <span class="card" style="<%= 'width:' + waa + '%;margin-right:10px' %>">
      <h2><%= title %></h2>
      <div class="w3-container" style="width:60%;min-width: 200px;">
        <div class="w3-panel w3-pale-red w3-leftbar w3-border-red">
          <p>計時:<span id="timer"> 00s</span>
          </p>
        </div>
        <div class="w3-panel w3-pale-blue w3-leftbar w3-border-blue">
          <p>圈數:100
          </p>
        </div>
        <div class="w3-panel w3-pale-green w3-leftbar w3-border-green">
          <p>資料量:8887
          </p>
        </div>
      </div>
      <p><input type="button" id="joy" class="btn btn-primary" value=<%= joyChin %>></p>
      <script>
        $("#joy").click(function() {
          const yes = tempConfirm()
          // socket.emit('prc', "-1");
          // console.log("html 執行 joy");
          // if (timerIntervalID) {
          //   clearInterval(timerIntervalID);
          // }
          // timerIntervalID = setInterval(function() {
          //   timer += 1
          //   if (timer < 60) {
          //     $("#timer").html(` ${timer} s`);
          //   } else if (timer < 3600) {
          //     $("#timer").html(` ${Math.floor(timer/60)} m ${timer%60} s`);
          //   } else {
          //     $("#timer").html(` ${Math.floor(timer/3600)} h ${Math.floor(timer/60)%60} m ${timer%60} s`);
          //   }
          // }, 1000);
          // iframeIntervalID = setInterval(() => {
          //   $('#rightFrame').attr('src', $('#rightFrame').attr('src'));
          //   console.log("刷新");
          // }, 2500);
        });
      </script>
      <P>演算法列表:</P>
      <% if (fileChins.length>0) { index = 0 %>
      <table>
        <% fileChins.forEach(chinRow => { %>
        <tr>
          <% chinRow.forEach(element => { %>
          <td><input type="button" id=<%= "mod" +index %> class="btn btn-primary" value=<%= element %>></td>
          <script>
            $("<%- '#mod' + index %>").click(function() {
              socket.emit('prc', "<%= index %>");
              console.log("<%- 'html 執行 ' + element %>");
              if (timerIntervalID) {
                clearInterval(timerIntervalID);
              }
              timerIntervalID = setInterval(function() {
                timer += 1
                if (timer < 60) {
                  $("#timer").html(` ${timer} s`);
                } else if (timer < 3600) {
                  $("#timer").html(` ${Math.floor(timer/60)} m ${timer%60} s`);
                } else {
                  $("#timer").html(` ${Math.floor(timer/3600)} h ${Math.floor(timer/60)%60} m ${timer%60} s`);
                }
              }, 1000);
              //console.log('刷新前 iframeIntervalID: ' + iframeIntervalID)
              iframeIntervalID = setInterval(() => {
                $('#rightFrame').attr('src', $('#rightFrame').attr('src'));
                console.log("刷新");
                //console.log('刷新中 iframeIntervalID: ' + iframeIntervalID)
              }, 2500);
              //console.log('刷新後 iframeIntervalID: ' + iframeIntervalID)
            });
          </script>
          <% index++}) %>
        </tr>
        <% }) %>
      </table>
      <% } %>
      <table>
        <thead>
          <tr>
            <td>
              <p><input type="button" id="btnR" class="btn btn-primary" value="關閉刷新"></p>
            </td>
            <td>
              <p><input type="button" id="btn0" class="btn btn-primary" value="關閉所有程式"></p>
            </td>
            <td>
              <p><input type="button" id="btn00" class="btn btn-primary" value="關閉網站"></p>
            </td>
          </tr>
        </thead>
      </table>
    </span>
    <span class="card" style="<%= 'width:' + (100-waa) + '%' %>">
      <iframe src='<%= carWeb+"/drive" %>' title="donkey drive" name="rightFrame" id="rightFrame" frameborder="0" width="100%" height="100%" onload="checkAlready()">等等</iframe></span>
  </div>
</body>

<script>
  $('#btnR').on('click', function() {
    if (iframeIntervalID) {
      clearInterval(iframeIntervalID);
    }
    console.log("html no refresh");
  });
  $('#btn0').on('click', function() {
    sendMessage('stopPrc');
  });
  $('#btn00').on('click', function() {
    sendMessage('stopPrc');
    socket.emit("exit");
    // $('#btn2').hide();
    if (timerIntervalID) {
      clearInterval(timerIntervalID);
    }
    console.log("html exit");
  });
  /*$('#rightFrame').on("load", function() {
      if (iframeIntervalID) {
          clearInterval(iframeIntervalID);
      }
      console.log('清除刷新');
  });*/
  /*
  $(window).on("message", function(e) {
      console.log(e);
      var data = e.originalEvent.data;  // Should work.
      console.log(data);
      if (data === 'document ready!' && iframeIntervalID) {
          clearInterval(iframeIntervalID);
          console.log('清除刷新');
      }
      console.log('有觸發');
  });
  */

  function checkAlready() {
    sendMessage('areYouReady');
  }

  function sendMessage(sttr) {
    window.frames["rightFrame"].postMessage(sttr, "<%= carWeb %>");
  }

  window.addEventListener("message", function(e) {
    console.log(e.origin);
    // 加強安全性 判斷數據發送方是否為可靠的網域; 不安全的網域不處理
    if ((e.origin).indexOf("<%= carWeb %>") < 0) {
      console.log("錯誤進入")
      return;
    }
    // 彈跳訊息框顯示回傳的筆數
    //var data = e.data;
    //alert(data);
    console.log('control get: ' + e.data);

    if ((e.data.indexOf('already') >= 0) && iframeIntervalID) {
      /*
      console.log('& := ' + (e.data.indexOf('already') >= 0 & iframeIntervalID))
      console.log('& := ' + (e.data.indexOf('already') >= 0 && iframeIntervalID))
      console.log('()& := ' + ((e.data.indexOf('already') >= 0) & iframeIntervalID))
      console.log('()&& := ' + ((e.data.indexOf('already') >= 0) && iframeIntervalID))
      console.log('清除刷新前 iframeIntervalID: ' + iframeIntervalID);
      */
      clearInterval(iframeIntervalID);
      console.log('清除刷新');
    }

    if (e.data.indexOf('stopByUser') >= 0) {
      setTimeout(() => {
        socket.emit("stop");
        console.log("html stop");
      }, 10 * 1000)

      // $('#btn2').hide();
      if (timerIntervalID) {
        clearInterval(timerIntervalID);
      }
    }
  });
</script>

</html>